.img-wrapper {
  position: relative;
  display: inline-block;
  margin: 3px;
  @include size(300px);
  overflow: hidden;
  background-color: #efefef;

  @include media (imos) {
    @include size(100%);
  }

  &:hover {
    .additional-content {
      background-color: rgba(#131313, .3);
      .avatar {
        opacity: 1;
        @include transform(translate3d(-50%, -150%, 0));
        @include transition(
          opacity .25s ease .05s,
          transform .35s ease-out
        );
        @include transition-delay(.05s);
      }

      .meta-info{
        @include transform(translate3d(0, -50px, 0));
        .vote-wrapper .vote {
          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }

  .content-img {
    display: block;
    position: relative;
    top: 50%;
    left: 0;
    margin: 0 auto;
    @include size(auto);
    max-width: 300px;
    max-height: 300px;
    @include transform(translateY(-50%));
    z-index: 0;
    @include media(imos) {
      max-width: 100%;
      max-height: 100%;
      @include transform(translateY(0%));
    }
  }

  .additional-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    @include size(100%);
    @include transition(background-color .4s);
    .avatar {
      position: absolute;
      top: 50%;
      left: 50%;
      @include size(60px);
      border-radius: 50%;
      box-shadow: 0 0 5px 2px rgba(#fff, .3), 0 0 5px 5px rgba(#131313, .3);
      opacity: 0;
      @include transform(translate3d(-50%, -100%, 0));
      @include transition(opacity .25s, transform .4s);
    }
    .meta-info {
      text-align: left;
      position: absolute;
      top: 100%;
      left: 0;
      padding-top: 5px;
      background-color: rgba(#fff, .8);
      @include size(100% 50px);
      @include transform(translate3d(0, 0, 0));
      @include transition(transform .25s);
      @include media (imos) {
        @include transform(translate3d(0, -50px, 0));
        .vote-wrapper .vote {
          @include transform(translate3d(0, 0, 0));
        }
      }
      .meta {
        display: block;
        padding: 0 50px 0 10px;
        padding-right: 30px;
      }
      .vote-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 3px;
        .vote {
          float: right;
          border: 0;
          background-color: transparent;
          font-size: 1.75rem;
          @include transform(translate3d(0, 100%, 0));
          @include transition(
            transform .4s
          );
          &:nth-child(1) {
            @include transition-delay(.075s);
          }
        }
      }
    }
  }
}
