<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crooked Spaces</title>

    <link rel="icon" href="/assets/favicon.ico">

    <link href='/assets/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="global-header">
        <h1 class='header'><i class="fa fa-car logo"></i>Crooked Spaces</h1>
        <nav class="global-nav">
            <a href="/about">about</a>
        </nav>
    </header>

