<section class="main-content">
    <section class="images">
        {{#images}}
            <div class="image-wrap">
                <img src="{{image_url}}" alt="" class="img">
            </div>
        {{/images}}
    </section>
</section>
